In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
from sqlalchemy import text
from sklearn.preprocessing import StandardScaler
import re

#connect sqlalchemy to postgresql
engine = create_engine('postgresql://afexdwmaster:sdvr2mOl7dtvtddk6KrI@afexdatawarehouse.cf5drhwmub4g.eu-central-1.rds.amazonaws.com/Datateam')

conn = engine.connect().execution_options(stream_results=True)

query = "select far.id, far.created farmer_created, far.is_deleted, far.folio_id, far.first_name, far.last_name,far.gender, far.marital_status, far.farm_size, far.farm_coordinates, far.is_blacklist, far.crop_name, far.crop_code, far.warehouse_id, far.cooperative_id, far.phone_invalid, far.phone_number_status, far.coordinate_status, far.id_status, grn.bags, grn.grade, grn.created grn_created, grn.updated grn_updated, grn.gross_weight, grn.net_weight, grn.deduction, grn.total_deduction, grn.moisture, grn.total_commodity_price, grn.price_per_tonne, grn.transaction_type, grn.is_approved, grn.is_approval_completed, grn.approval_date, grn.is_received_at_warehouse, grn.is_reverted grn_reverted, grn.total_payable_price, grn.transaction_fees, grn.is_processed grn_processed, grn.spot_payment, grn.cash_advance_account_pk, grn.item_name, grn.is_deleted, grn.is_rejected grn_rejected, grn.is_traded, grn.raised_for_farmer, grn.cash_advance_account_paid, grn.payment_option, loan.created loan_created, loan.updated loan_updated, loan.loan_bundlename, loan.project_id, loan.maturity_date, loan.project_start_date, loan.project_name, loan.hectare, loan.total_loan_value, loan.repayment_value, loan.amount_repaid, loan.insurance, loan.crg, loan.interest, loan.admin_fee, loan.equity, loan.to_balance, loan.loan_status, loan.is_repaid, loan.is_approved loan_approved, loan.is_approval_completed loan_approval_completed, loan.is_rejected loan_rejected, loan.is_reverted loan_reverted, wh.location, wh.state, wh.warehouse_name from workbench_mart.dim_farmer far left join workbench_mart.fact_grn grn on far.folio_id = grn.cid left join workbench_mart.fact_loan loan on far.id = loan.farmer_id left join workbench_mart.dim_warehouse wh on far.warehouse_id = wh.id where far.tenant_id = 7"
wb_dataset = pd.read_sql_query(query, engine)

engine.close()

wb_dataset.head()

wb_dataset.to_csv('wb_dataset.csv', index=False)

In [3]:
dataset = r"C:\Users\JenniferEbereChinabu\OneDrive - AFEX Commodities Exchange Limited\Documents\AFEX ML Credit Score\credit_score\wb_dataset.csv"
wb_dataset = pd.read_csv(dataset)

In [4]:
wb_dataset.head()

,id,farmer_created,is_deleted,folio_id,first_name,last_name,gender,marital_status,farm_size,farm_coordinates,...,to_balance,loan_status,is_repaid,loan_approved,loan_approval_completed,loan_rejected,loan_reverted,location,state,warehouse_name
0,1519,2019-01-08 08:21:42.835421+00:00,False,001-32201-200073,Badamasi,Umaru,Male,Married,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kaduna 2,Kaduna,Saminaka
1,1880,2019-01-11 18:01:11.039187+00:00,False,001-32201-200138,Sarauniya,Muhammed Mahmud,Female,Married,NaN,"10.32995,008.47635",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kaduna 2,Kaduna,Rahama
2,1844,2019-01-11 13:24:14.464738+00:00,False,001-32202-200122,Emmanuel,Audi,Male,Married,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kaduna 1,Kaduna,Zaria Amaru
3,1519,2019-01-08 08:21:42.835421+00:00,False,001-32201-200073,Badamasi,Umaru,Male,Married,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kaduna 2,Kaduna,Saminaka
4,75503,2019-02-17 05:56:23.771328+00:00,False,001-34204-200325,Yahaya,Haruna,Male,Married,1,"11.8477858,7.7846856",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Katsina,Katsina,Bakori

In [5]:
# Sample DataFrame with 'farm_size' column containing various formats
#data = {'farm_size': ['5 Hecter', '10', 'one', '', '15 Hecter']}
#df = pd.DataFrame(data)

# Replace empty strings with 0
wb_dataset['farm_size'] = wb_dataset['farm_size'].replace('', '0')

# Extract numeric values from 'farm_size' column and convert to float
wb_dataset['farm_size'] = wb_dataset['farm_size'].apply(lambda x: float(re.findall(r'\d+', str(x))[0]) if re.findall(r'\d+', str(x)) else 0)

# Convert string representations of numbers (like 'one') to numeric values
word_to_number = {'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}  # Add more words to numbers mapping if needed
wb_dataset['farm_size'] = wb_dataset['farm_size'].apply(lambda x: word_to_number.get(str(x).lower(), x))

# Convert the 'farm_size' column to float
wb_dataset['farm_size'] = wb_dataset['farm_size'].astype(float)

# Print the updated DataFrame
print(wb_dataset.head(5))

      id                    farmer_created  is_deleted          folio_id  \
0   1519  2019-01-08 08:21:42.835421+00:00       False  001-32201-200073
1   1880  2019-01-11 18:01:11.039187+00:00       False  001-32201-200138
2   1844  2019-01-11 13:24:14.464738+00:00       False  001-32202-200122
3   1519  2019-01-08 08:21:42.835421+00:00       False  001-32201-200073
4  75503  2019-02-17 05:56:23.771328+00:00       False  001-34204-200325

  first_name        last_name  gender marital_status  farm_size  \
0   Badamasi            Umaru    Male        Married        0.0
1  Sarauniya  Muhammed Mahmud  Female        Married        0.0
2   Emmanuel             Audi    Male        Married        0.0
3   Badamasi            Umaru    Male        Married        0.0
4     Yahaya           Haruna    Male        Married        1.0

       farm_coordinates  ...  to_balance loan_status is_repaid  loan_approved  \
0                   NaN  ...         NaN         NaN       NaN            NaN
1    10.32995,008.47635  ...         NaN         NaN       NaN            NaN
2                   NaN  ...         NaN         NaN       NaN            NaN
3                   NaN  ...         NaN         NaN       NaN            NaN
4  11.8477858,7.7846856  ...         NaN         NaN       NaN            NaN

   loan_approval_completed  loan_rejected loan_reverted  location    state  \
0                      NaN            NaN           NaN  Kaduna 2   Kaduna
1                      NaN            NaN           NaN  Kaduna 2   Kaduna
2                      NaN            NaN           NaN  Kaduna 1   Kaduna
3                      NaN            NaN           NaN  Kaduna 2   Kaduna
4                      NaN            NaN           NaN   Katsina  Katsina

   warehouse_name
0        Saminaka
1          Rahama
2     Zaria Amaru
3        Saminaka
4          Bakori

[5 rows x 74 columns]

In [6]:
wb_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 597624 entries, 0 to 597623
Data columns (total 74 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   id                         597624 non-null  int64
 1   farmer_created             597624 non-null  object
 2   is_deleted                 597624 non-null  bool
 3   folio_id                   597624 non-null  object
 4   first_name                 597623 non-null  object
 5   last_name                  597624 non-null  object
 6   gender                     597624 non-null  object
 7   marital_status             597624 non-null  object
 8   farm_size                  597624 non-null  float64
 9   farm_coordinates           416470 non-null  object
 10  is_blacklist               597624 non-null  bool
 11  crop_name                  594217 non-null  object
 12  crop_code                  594217 non-null  object
 13  warehouse_id               597624 non-null  int64
 14  cooperative_id             597470 non-null  float64
 15  phone_invalid              597624 non-null  bool
 16  phone_number_status        597624 non-null  object
 17  coordinate_status          597624 non-null  object
 18  id_status                  597624 non-null  object
 19  bags                       229752 non-null  float64
 20  grade                      229734 non-null  float64
 21  grn_created                229752 non-null  object
 22  grn_updated                229752 non-null  object
 23  gross_weight               229752 non-null  float64
 24  net_weight                 229752 non-null  float64
 25  deduction                  229752 non-null  float64
 26  total_deduction            229752 non-null  float64
 27  moisture                   229752 non-null  float64
 28  total_commodity_price      229752 non-null  float64
 29  price_per_tonne            229752 non-null  float64
 30  transaction_type           229752 non-null  object
 31  is_approved                229752 non-null  object
 32  is_approval_completed      229752 non-null  object
 33  approval_date              222641 non-null  object
 34  is_received_at_warehouse   229752 non-null  object
 35  grn_reverted               229752 non-null  object
 36  total_payable_price        229752 non-null  float64
 37  transaction_fees           229752 non-null  float64
 38  grn_processed              229752 non-null  object
 39  spot_payment               229752 non-null  float64
 40  cash_advance_account_pk    47483 non-null   float64
 41  item_name                  229752 non-null  object
 42  is_deleted.1               174636 non-null  object
 43  grn_rejected               174636 non-null  object
 44  is_traded                  174636 non-null  object
 45  raised_for_farmer          174636 non-null  object
 46  cash_advance_account_paid  0 non-null       float64
 47  payment_option             169337 non-null  object
 48  loan_created               274438 non-null  object
 49  loan_updated               274438 non-null  object
 50  loan_bundlename            110669 non-null  object
 51  project_id                 274438 non-null  float64
 52  maturity_date              274438 non-null  object
 53  project_start_date         274438 non-null  object
 54  project_name               274438 non-null  object
 55  hectare                    274438 non-null  float64
 56  total_loan_value           274438 non-null  float64
 57  repayment_value            274438 non-null  float64
 58  amount_repaid              274438 non-null  float64
 59  insurance                  274438 non-null  float64
 60  crg                        274438 non-null  float64
 61  interest                   274438 non-null  float64
 62  admin_fee                  274438 non-null  float64
 63  equity                     274438 non-null  float64
 64  to_balance                 274438 non-null  float64
 65  loan_status                274438 non-null  object
 66  is_repaid                  274438 non-null  object
 67  loan_approved              274438 non-null  object
 68  loan_approval_completed    274438 non-null  object
 69  loan_rejected              274438 non-null  object
 70  loan_reverted              274438 non-null  object
 71  location                   597624 non-null  object
 72  state                      597624 non-null  object
 73  warehouse_name             597624 non-null  object
dtypes: bool(3), float64(27), int64(2), object(42)
memory usage: 325.4+ MB

In [7]:
from sklearn.preprocessing import LabelEncoder

# Sample DataFrame with the given categorical columns
#data = {
#    'gender': ['Male', 'Female', 'Male', 'Female'],
#    'marital_status': ['Single', 'Married', 'Married', 'Single'],
#    'crop_name': ['Wheat', 'Corn', 'Rice', 'Wheat'],
#    'phone_number_status': ['Active', 'Inactive', 'Active', 'Inactive'],
#    'coordinate_status': ['Active', 'Inactive', 'Active', 'Active'],
#    'id_status': ['A', 'B', 'C', 'A']
#}

#df = pd.DataFrame(data)

# Label Encoding for binary categorical variables
binary_cols = ['gender', 'is_blacklist', 'is_approved', 'is_approval_completed', 'is_received_at_warehouse',
'grn_reverted', 'grn_processed', 'is_deleted.1', 'is_traded', 'raised_for_farmer', 'is_repaid', 'loan_approved','loan_approval_completed',
'loan_rejected', 'loan_reverted']
label_encoder = LabelEncoder()
wb_dataset[binary_cols] = wb_dataset[binary_cols].apply(label_encoder.fit_transform)

# Ordinal Encoding for loan_status
loan_status_ordinal_mapping = {'Is owing': 1, 'Not owing': 2, 'Overage': 3}
wb_dataset['loan_status'] = wb_dataset['loan_status'].map(loan_status_ordinal_mapping)

id_ordinal_mapping = {'Confirmed Valid': 5, 'Valid': 4, 'Pending Check': 3, 'Invalid': 2, 'Confirmed Invalid': 1}
wb_dataset['id_status'] = wb_dataset['id_status'].map(id_ordinal_mapping)

phone_status_ordinal_mapping = {'Confirmed Valid': 5, 'Valid': 4, 'Pending Check': 3, 'Duplicated': 2, 'Invalid': 1}
wb_dataset['phone_number_status'] = wb_dataset['phone_number_status'].map(phone_status_ordinal_mapping)

coordinate_ordinal_mapping = {'Pending Check': 2, 'Invalid': 1}
wb_dataset['coordinate_status'] = wb_dataset['coordinate_status'].map(coordinate_ordinal_mapping)




# One-Hot Encoding for crop_name and id_status
wb_dataset = pd.get_dummies(wb_dataset, columns=['marital_status', 'transaction_type', 'payment_option'])

print(wb_dataset)

            id                    farmer_created  is_deleted  \
0         1519  2019-01-08 08:21:42.835421+00:00       False
1         1880  2019-01-11 18:01:11.039187+00:00       False
2         1844  2019-01-11 13:24:14.464738+00:00       False
3         1519  2019-01-08 08:21:42.835421+00:00       False
4        75503  2019-02-17 05:56:23.771328+00:00       False
...        ...                               ...         ...
597619  145357  2020-08-15 14:23:33.782569+00:00       False
597620  548136  2022-06-10 19:44:17.091246+00:00       False
597621  171438  2021-01-18 17:24:05.456964+00:00       False
597622   97835  2019-05-05 10:25:12.403519+00:00       False
597623  329103  2021-04-26 20:43:18.571230+00:00       False

                folio_id first_name        last_name  gender  farm_size  \
0       001-32201-200073   Badamasi            Umaru       1        0.0
1       001-32201-200138  Sarauniya  Muhammed Mahmud       0        0.0
2       001-32202-200122   Emmanuel             Audi       1        0.0
3       001-32201-200073   Badamasi            Umaru       1        0.0
4       001-34204-200325     Yahaya           Haruna       1        1.0
...                  ...        ...              ...     ...        ...
597619  001-32202-204920    Samaila           Sahabi       1        1.0
597620   001-23109-01496     Yahuza             Musa       1        0.0
597621  001-31205-200188     Sa'Adu          Ibrahim       1       10.0
597622  001-32203-207428       Musa          Isiyaka       1        1.0
597623  001-23207-209726   Abubakar   Umaru Namuradi       1        2.0

                           farm_coordinates  is_blacklist  ...  \
0                                       NaN             0  ...
1                        10.32995,008.47635             0  ...
2                                       NaN             0  ...
3                                       NaN             0  ...
4                      11.8477858,7.7846856             0  ...
...                                     ...           ...  ...
597619                   1112.745,00733.985             0  ...
597620                                  NaN             0  ...
597621           11.449614999999998,9.46142             0  ...
597622                   11.19262,008.08824             0  ...
597623  9.746123333333333,6.026078333333333             0  ...

       marital_status_Widower transaction_type_Broker Payment  \
0                           0                               0
1                           0                               0
2                           0                               0
3                           0                               0
4                           0                               0
...                       ...                             ...
597619                      0                               0
597620                      0                               0
597621                      0                               0
597622                      0                               0
597623                      0                               0

        transaction_type_Com For Equity  transaction_type_Com To Input  \
0                                     0                              0
1                                     0                              0
2                                     0                              0
3                                     0                              0
4                                     0                              0
...                                 ...                            ...
597619                                0                              0
597620                                0                              0
597621                                0                              0
597622                                0                              0
597623                                0                              0

        transaction_type_Loan Repayment  transaction_type_Storage  \
0                                     0                         0
1                                     1                         0
2                                     0                         0
3                                     1                         0
4                                     1                         0
...                                 ...                       ...
597619                                0                         0
597620                                0                         0
597621                                0                         0
597622                                0                         0
597623                                0                         0

        transaction_type_Storage To Trade  transaction_type_Trade  \
0                                       0                       1
1                                       0                       0
2                                       0                       1
3                                       0                       0
4                                       0                       0
...                                   ...                     ...
597619                                  0                       0
597620                                  0                       0
597621                                  0                       0
597622                                  0                       0
597623                                  0                       0

        payment_option_Cash Advance  payment_option_Trade Execution
0                                 0                               0
1                                 0                               0
2                                 0                               0
3                                 0                               0
4                                 0                               0
...                             ...                             ...
597619                            0                               0
597620                            0                               0
597621                            0                               0
597622                            0                               0
597623                            0                               0

[597624 rows x 85 columns]

In [8]:
#wb_dataset['loan_created'] = pd.to_datetime(wb_dataset['loan_created'], errors='coerce')
wb_dataset['loan_updated'] = pd.to_datetime(wb_dataset['loan_updated'], errors='coerce')
wb_dataset['grn_created'] = pd.to_datetime(wb_dataset['grn_created'], errors='coerce')
wb_dataset['grn_updated'] = pd.to_datetime(wb_dataset['grn_updated'], errors='coerce')
wb_dataset['approval_date'] = pd.to_datetime(wb_dataset['approval_date'], errors='coerce')
wb_dataset['farmer_created'] = pd.to_datetime(wb_dataset['farmer_created'], errors='coerce')
wb_dataset['project_start_date'] = pd.to_datetime(wb_dataset['project_start_date'], errors='coerce')
wb_dataset['maturity_date'] = pd.to_datetime(wb_dataset['maturity_date'], errors='coerce')

FEATURE ENGINEERING
- Feature engineering involves creating new features from existing ones to enhance the predictive power of the model.

In [11]:
wb_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 274438 entries, 89 to 597620
Data columns (total 85 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   id                                 274438 non-null  int64
 1   farmer_created                     274438 non-null  datetime64[ns, UTC]
 2   is_deleted                         274438 non-null  bool
 3   folio_id                           274438 non-null  object
 4   first_name                         274437 non-null  object
 5   last_name                          274438 non-null  object
 6   gender                             274438 non-null  int32
 7   farm_size                          274438 non-null  float64
 8   farm_coordinates                   168085 non-null  object
 9   is_blacklist                       274438 non-null  int64
 10  crop_name                          274292 non-null  object
 11  crop_code                          274292 non-null  object
 12  warehouse_id                       274438 non-null  int64
 13  cooperative_id                     274417 non-null  float64
 14  phone_invalid                      274438 non-null  bool
 15  phone_number_status                274438 non-null  int64
 16  coordinate_status                  274438 non-null  int64
 17  id_status                          274438 non-null  int64
 18  bags                               186066 non-null  float64
 19  grade                              186054 non-null  float64
 20  grn_created                        186066 non-null  datetime64[ns, UTC]
 21  grn_updated                        186066 non-null  datetime64[ns, UTC]
 22  gross_weight                       186066 non-null  float64
 23  net_weight                         186066 non-null  float64
 24  deduction                          186066 non-null  float64
 25  total_deduction                    186066 non-null  float64
 26  moisture                           186066 non-null  float64
 27  total_commodity_price              186066 non-null  float64
 28  price_per_tonne                    186066 non-null  float64
 29  is_approved                        274438 non-null  int32
 30  is_approval_completed              274438 non-null  int32
 31  approval_date                      183095 non-null  datetime64[ns, UTC]
 32  is_received_at_warehouse           274438 non-null  int32
 33  grn_reverted                       274438 non-null  int32
 34  total_payable_price                186066 non-null  float64
 35  transaction_fees                   186066 non-null  float64
 36  grn_processed                      274438 non-null  int32
 37  spot_payment                       186066 non-null  float64
 38  cash_advance_account_pk            35756 non-null   float64
 39  item_name                          186066 non-null  object
 40  is_deleted.1                       274438 non-null  int32
 41  grn_rejected                       148956 non-null  object
 42  is_traded                          274438 non-null  int32
 43  raised_for_farmer                  274438 non-null  int32
 44  cash_advance_account_paid          0 non-null       float64
 45  loan_created                       274438 non-null  object
 46  loan_updated                       274438 non-null  datetime64[ns, UTC]
 47  loan_bundlename                    110669 non-null  object
 48  project_id                         274438 non-null  float64
 49  maturity_date                      274438 non-null  datetime64[ns]
 50  project_start_date                 274438 non-null  datetime64[ns, UTC]
 51  project_name                       274438 non-null  object
 52  hectare                            274438 non-null  float64
 53  total_loan_value                   274438 non-null  float64
 54  repayment_value                    274438 non-null  float64
 55  amount_repaid                      274438 non-null  float64
 56  insurance                          274438 non-null  float64
 57  crg                                274438 non-null  float64
 58  interest                           274438 non-null  float64
 59  admin_fee                          274438 non-null  float64
 60  equity                             274438 non-null  float64
 61  to_balance                         274438 non-null  float64
 62  loan_status                        274438 non-null  float64
 63  is_repaid                          274438 non-null  int32
 64  loan_approved                      274438 non-null  int32
 65  loan_approval_completed            274438 non-null  int32
 66  loan_rejected                      274438 non-null  int32
 67  loan_reverted                      274438 non-null  int32
 68  location                           274438 non-null  object
 69  state                              274438 non-null  object
 70  warehouse_name                     274438 non-null  object
 71  marital_status_Divorced            274438 non-null  uint8
 72  marital_status_Married             274438 non-null  uint8
 73  marital_status_Single              274438 non-null  uint8
 74  marital_status_Widow               274438 non-null  uint8
 75  marital_status_Widower             274438 non-null  uint8
 76  transaction_type_Broker Payment    274438 non-null  uint8
 77  transaction_type_Com For Equity    274438 non-null  uint8
 78  transaction_type_Com To Input      274438 non-null  uint8
 79  transaction_type_Loan Repayment    274438 non-null  uint8
 80  transaction_type_Storage           274438 non-null  uint8
 81  transaction_type_Storage To Trade  274438 non-null  uint8
 82  transaction_type_Trade             274438 non-null  uint8
 83  payment_option_Cash Advance        274438 non-null  uint8
 84  payment_option_Trade Execution     274438 non-null  uint8
dtypes: bool(2), datetime64[ns, UTC](6), datetime64[ns](1), float64(28), int32(14), int64(6), object(14), uint8(14)
memory usage: 136.1+ MB

In [10]:
# Modify the DataFrame in place
wb_dataset.dropna(subset=['loan_created'], inplace=True)

Feature Engineering:

•	Debt to Farm size ratio
•	Total loan amount borrowed by each farmer.
•	Total number(count) of loans with AFEX per farmer.
•	Average loan repayment rate (total loan amount repaid divided by the total loan amount borrowed) per farmer.
•	Time since the last loan
•	The percentage of loans that were not repaid per farmer.

# Debt to Farm Size Ratio
wb_dataset['debt_to_farm_size_ratio'] = wb_dataset['total_loan_value'] / wb_dataset['farm_size']
print(wb_dataset['debt_to_farm_size_ratio'].unique())

In [14]:
# Assuming training_dataset is your DataFrame
wb_dataset['debt_to_farm_size_ratio'] = np.where(wb_dataset['farm_size'] != 0, wb_dataset['total_loan_value'] / wb_dataset['farm_size'], 0)
print(wb_dataset['debt_to_farm_size_ratio'].unique())

[4.20000000e+04 7.30000000e+04 0.00000000e+00 ... 7.95000000e+04
 4.60739893e-02 4.58000000e+04]

In [16]:
# Total loan amount borrowed by each farmer
total_loan_amount_by_farmer = wb_dataset.groupby('id')['total_loan_value'].sum().reset_index()
wb_dataset = pd.merge(wb_dataset, total_loan_amount_by_farmer, on='id', suffixes=('', '_total'), how='left')
#print(training_dataset.head(5))

In [17]:
# Total number of loans with AFEX per farmer
total_loans_by_farmer = wb_dataset.groupby('id').size().reset_index(name='total_loans')
wb_dataset = pd.merge(wb_dataset, total_loans_by_farmer, on='id', how='left')
#print(training_dataset.info())

# Average loan repayment rate per farmer
wb_dataset['avg_loan_repayment_rate'] = wb_dataset['amount_repaid'] / wb_dataset['total_loan_value']
print(wb_dataset['avg_loan_repayment_rate'].unique())

In [19]:
# Assuming training_dataset is your DataFrame
wb_dataset['avg_loan_repayment_rate'] = np.where(wb_dataset['total_loan_value'] != 0, wb_dataset['amount_repaid'] / wb_dataset['total_loan_value'], 0)
print(wb_dataset['avg_loan_repayment_rate'].unique())

[1.         1.06849315 0.         ... 0.79854244 0.62381034 0.59737991]

In [20]:
# Assuming 'loan_updated' is not in datetime format, convert it
wb_dataset['loan_updated'] = pd.to_datetime(wb_dataset['loan_updated'], errors='coerce')

# Calculate time since the last loan
wb_dataset['time_since_last_loan'] = (wb_dataset['loan_updated'].max() - wb_dataset['loan_updated']).dt.days

In [21]:
# Calculate time since the last loan in months
wb_dataset['time_since_last_loan_month'] = ((wb_dataset['loan_updated'].max() - wb_dataset['loan_updated']) / pd.Timedelta(days=30)).astype(int)

In [22]:
# Percentage of loans that were not repaid per farmer based on 'loan_status'
wb_dataset['percentage_unrepaid_loans'] = (wb_dataset['loan_status'] < 2).groupby(wb_dataset['id']).transform('mean') * 100

In [23]:
# Assuming 'loan_updated' and 'maturity_date' are not in datetime format, convert them
wb_dataset['loan_updated'] = pd.to_datetime(wb_dataset['loan_updated'], errors='coerce').dt.tz_localize(None)
wb_dataset['maturity_date'] = pd.to_datetime(wb_dataset['maturity_date'], errors='coerce').dt.tz_localize(None)

# Fill missing values with the maximum representable datetime value
wb_dataset['loan_updated'].fillna(pd.Timestamp.max, inplace=True)
wb_dataset['maturity_date'].fillna(pd.Timestamp.max, inplace=True)

# Create a feature that checks if the loan was fully repaid within the maturity date
wb_dataset['fully_repaid_within_maturity'] = (wb_dataset['loan_status'].isin([2, 3])) & (wb_dataset['loan_updated'] <= wb_dataset['maturity_date'])

In [24]:
# Encode the boolean column to int
wb_dataset['fully_repaid_within_maturity'] = wb_dataset['fully_repaid_within_maturity'].astype(int)

In [25]:
# Specify the path where you want to save the CSV file
csv_file_path = r'C:\Users\JenniferEbereChinabu\OneDrive - AFEX Commodities Exchange Limited\Documents\AFEX ML Credit Score\credit_score\new_wb_dataset.csv'

# Save the DataFrame to a CSV file
wb_dataset.to_csv(csv_file_path, index=False)

# index=False is used to exclude the index column from being written to the CSV file

In [27]:
# Convert 'farmer_created' to datetime if it's not already
wb_dataset['farmer_created'] = pd.to_datetime(wb_dataset['farmer_created'])

# Define the midpoint date
midpoint_date = pd.Timestamp('2022-06-01')  # Assuming June 1, 2022, as the midpoint

# Convert the midpoint date to datetime with UTC
midpoint_date_utc = pd.to_datetime(midpoint_date, utc=True)

# Create subsets based on the 'farmer_created' date
subset_before_midpoint = wb_dataset[wb_dataset['farmer_created'] < midpoint_date_utc]
subset_after_midpoint = wb_dataset[wb_dataset['farmer_created'] >= midpoint_date_utc]

# Display the shapes of the subsets
print("Subset Before Midpoint Shape:", subset_before_midpoint.shape)
print("Subset After Midpoint Shape:", subset_after_midpoint.shape)

Subset Before Midpoint Shape: (240433, 93)
Subset After Midpoint Shape: (34005, 93)

In [28]:
# Assuming 'subset_before_midpoint' and 'subset_after_midpoint' are the subsets

# Define file paths for the CSV files
csv_path_before_midpoint = r'C:\Users\JenniferEbereChinabu\OneDrive - AFEX Commodities Exchange Limited\Documents\AFEX ML Credit Score\credit_score\inception_till_2022midpoint_dataset.csv'
csv_path_after_midpoint = r'C:\Users\JenniferEbereChinabu\OneDrive - AFEX Commodities Exchange Limited\Documents\AFEX ML Credit Score\credit_score\post_2022_dataset.csv'

# Write the subsets to CSV files
subset_before_midpoint.to_csv(csv_path_before_midpoint, index=False)
subset_after_midpoint.to_csv(csv_path_after_midpoint, index=False)

print("CSV files created successfully.")

CSV files created successfully.